/**
 * OptiPress Size Profiles Styles
 */
#optipress-size-profiles-table input[type="text"] {
	width: 140px;
}

#optipress-size-profiles-table input[type="number"] {
	width: 90px;
}

#optipress-size-profiles-table select {
	width: 110px;
}

#optipress-size-profiles-table .delete-size {
	color: #b32d2e;
}
